/* Centering and scaling the carousel */
.HomeCarousel {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

/* Adding important here to override the reactstrap style for the indicators */
.carousel_indicators {
    margin-left: auto !important;
    margin-right: auto !important;
} 