/* Centering and scaling the carousel */
.HomeCarousel {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

/* Adding important here to override the reactstrap style for the indicators */
.carousel_indicators {
    margin-left: auto !important;
    margin-right: auto !important;
} 

.carousel_image {
    height: 35rem !important; /* Set the height of the images */
    width: 60rem !important;
    object-fit: cover !important; /* Ensure the images fill the container */
  }