/* Body Text Stylings */
a, p, h3 {
    font-family: "Open Sans", serif;
}

/* Heading Stylings */
#Intro {
    height: 15%;
    width: 100%;
}

h1, h2 {
    font-family: "Roboto Slab", serif;
    text-align:center;
}

#Intro h3 {
    text-align: center;
    color: rgb(100,100,100)
}

/* Navigation Stylings */
#Nav ul li a {
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 0 5% 0 5%;
    text-align: center;
    text-shadow: 5% 5% 2% rgb(0,0,0);
}

#Nav {
    background-image: linear-gradient(rgb(200,200,200), rgb(170,170,170));
    border-radius: 5%;
    box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.5);
    text-align: center;
}

#Nav ul {
    position: relative;
    list-style: none;
    margin: 0 auto;
}

#Nav ul li {
    display: inline;
}

#Nav ul li a:hover {
    color: #FF8B28;
    transition: color 0.2s;
}

/* Body Styling */
body {
    background-image: linear-gradient(rgb(255,255,255), rgb(240,240,240));
}

/* Document Styling */
.document {
    width: 40%;
    height: 60vh;
    margin: 0% 7.5% 0% 2.5%;
    float: left; 
    display: inline;
}

.document embed {
    width: 45vw;
    height: 50vh;
}

#repo, #demo {
    margin: 0 auto;
}