/* Footer Container Styling */
.footer {
    /* padding: 1vw, 1vh; */
    box-shadow: 0px -1px 2px 0.5px rgba(0,0,0,0.5);
    background-image: linear-gradient(rgb(200,0,0), rgb(160,0,0));
    border-radius: 0.5%;  
    min-height: 100%;
}

.footer .container-fluid {
    padding-top: 0.1rem !important;
}

.footer_wrapper {
    position: fixed;
    width: 100%;
    bottom: 0; 
    padding-bottom: 0;
    height: 27.5%;
    z-index: 10;
}

/* Styling the footer title */
/* .footer_title {
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.5vh;
    font-family: 'Roboto Slab', serif;
} */

/* .brand {
    margin-left: auto !important;
    margin-right: auto !important;
} */

/* Media Query: Mobile View */
@media screen and (max-width: 1000px) {
    .Footer {
        padding: 0.8vw, 0.8vh;
    }
}

/* Styling the link tower holder */
.tower_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

/* Styling the link towers */
.link_tower {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
}

/* Styling the individual links */
.tower_link {
    font-family: 'Open Sans', serif;
    color: #fff;
    margin-bottom: 1%;
    font-size: 1.25vw;
    text-decoration: none;
}

.tower_link:hover {
    color: #FFA500;
    transition: color 0.25s;
}

/* Styling the headings in the link towers */
.tower_heading {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vw;
    color: #686161;
    margin-bottom: 2%;
    font-weight: bold;
    text-shadow: 5% 5% 2% rgb(0,0,0);
}

/* Styling the divider */
.footer_divider {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}
.footer_divider hr {
    border: solid 1px rgb(220, 220, 220);
    width: 100% !important;
    min-width: 100%;
    height: 100%;
}

/* Styling the credits */
.footer_credit {
    font-size: 1vw;
    margin: 0 auto;
    font-family: 'Open Sans', serif;
}